.result {
    min-height: calc(100vh - (180px - 120px) );
    background-color: rgba(0,0,0,0.7);
    padding: 60px 30px;
    margin: 90px 0;
}

.days-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.days-buttons button {
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}
.days-buttons button:hover {
    background-color: #0666a3;
}

.days-buttons button#active {
    background-color: red;
}
.days-buttons button#active:hover {
    background-color: red;
}

.item-day {
    display: flex;
    flex-direction: row-reverse;
}
.map-div {
    width: 80%;
    height: 75vh;
    margin-right: 10px;
}
.map-div.full {
    width: 100%;
}
.map-div > div {
    height: 100% !important;
}
.info {
    width: 20%;
}
.info a{
    color: white;
    text-decoration: underline;
}

@media (max-width: 640px) {
    .info, .map-div {
        width: 100%;
    }
    .item-day {
        flex-direction: column-reverse;
    }
}
